@model DS.Motel.Clients.Web.Areas.Items.Models.Items.EditViewModel


<script type="text/javascript">

    $(document).ready(function () {
        $("#btnCancel").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("index", "Item", new { area = "Items" })?masterload=false');
            $(document).scrollTop(0);
        });

        $(".custom-decimal").each(function () {
            $(this).ForceDecimalCulture();
        });

        $(".custom-decimal").on("focus", function () {
            var valText = $(this).val();
            var valTextParse = kendo.parseFloat(valText);
            if (valTextParse == 0)
                $(this).val("");
            else
                $(this).val(valText);
        });
        $(".custom-decimal").on("blur", function () {
            var valText = $(this).val();
            var valTextParse = kendo.parseFloat(valText);
            if (valTextParse != "" && valTextParse != null)
                $(this).val(valText);
            else
                $(this).val(0);
        });
    });

    function Edit_callOnBegin() {
        $("#btnAdd").attr("disabled", "disabled")
        $("#btnAdd").text("Guardando...");
    }

    function Edit_onSuccess() {
        switch ('@Model.Result')
        {
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Saved':
                {
                    $.notify("El item se guardó con exito", { globalPosition: "top center", className: "success" });
                    $("#divMasterOperationAreaContent").load('@Url.Action("Index", "Item", new { area = "Items" })?masterload=false');
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Validation':
                {
                    $.notify("Error: Información no válida", { globalPosition: "top center", className: "warn" });
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Error':
                {
                    $.notify("Lo sentimos, un error desconocido ha ocurrido en la aplicación.", { globalPosition: "top center", className: "error" });
                }
                break;
            default:
                break;
        }
        $(document).scrollTop(0);
    }

</script>

<div id="divEditItem">
    @using (@Ajax.BeginForm("Edit", "Item", new { area = "Items" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEditItem", OnBegin = "Edit_callOnBegin", OnSuccess = "Edit_onSuccess" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(h => h.ItemId)
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin:15px;">Editar Item</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Código</label>
                            @Html.TextBoxFor(m => m.Codigo, new { maxlength = "50", @class = "form-control", tabindex = "1" })
                            @Html.ValidationMessageFor(m => m.Codigo)
                        </div>
                        <div class="form-group col-md-6">
                            <label>Nombre</label>
                            @Html.TextBoxFor(m => m.Nombre, new { maxlength = "100", @class = "form-control", tabindex = "2" })
                            @Html.ValidationMessageFor(m => m.Nombre)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Descripción</label>
                            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", tabindex = "3" })
                            @Html.ValidationMessageFor(m => m.Descripcion)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Categoría</label>
                            @Html.DropDownListFor(m => m.CategoriaId, new SelectList(@Model.Categorias, "Id", "Nombre"), new { @class = "form-control", tabindex = "4" })
                            @Html.ValidationMessageFor(m => m.CategoriaId)
                        </div>
                        <div class="form-group col-md-6">
                            <label>Precio de Venta</label>
                            @Html.TextBoxFor(m => m.Precio, new { maxlength = "10", @class = "form-control custom-decimal", tabindex = "5" })
                            @Html.ValidationMessageFor(m => m.Precio)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Proporcion 1 a (Se puede subdividir en Nº raciones)</label>
                            @Html.TextBoxFor(m => m.Proporcion, new { maxlength = "10", @class = "form-control custom-decimal", tabindex = "6" })
                            @Html.ValidationMessageFor(m => m.Proporcion)
                        </div>
                        <div class="form-group col-md-6">
                            <label>Stock Minimo</label>
                            @Html.TextBoxFor(m => m.Stock_Minimo, new { maxlength = "10", @class = "form-control custom-decimal", tabindex = "7" })
                            @Html.ValidationMessageFor(m => m.Stock_Minimo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.EsVendible, new { tabindex = "8" })
                                    Es vendible
                                </label>
                            </div>
                            @Html.ValidationMessageFor(m => m.EsVendible)
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button id="btnCancel" type="button" class="btn btn-secondary pull-right">Cancelar</button>
                    <button id="btnAdd" type="submit" class="btn btn-success pull-right" style="margin-right:15px;">Guardar</button>
                </div>
            </div>
        </div>
    }
</div>
