@model DS.Motel.Clients.Web.Areas.AddressBook.Models.Cargos.AddViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@Html.AntiForgeryToken()
<div class="box-header with-border">
    <div class="row">
        <div class="col-md-12">
            <button id="btnCancel" type="button" class="btn bg-navy btn-flat pull-right" style="margin-left:10px;">Cancelar</button>
            <button id="btnSave" type="submit" class="btn btn-success pull-right">Guardar</button>

        </div>
    </div>

</div>
<div class="box-body">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Nombre</label>
            @Html.TextBoxFor(m => m.Nombre, new { maxlength = "50", @class = "form-control", tabindex = "1" })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="form-group col-md-12">
            <label>Descripcion</label>
            @Html.TextBoxFor(m => m.Descripcion, new { maxlength = "1024", @class = "form-control", tabindex = "2" })
            @Html.ValidationMessageFor(m => m.Descripcion)
        </div>

    </div>

</div>
