@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-add").click(function () {
            $("#divContentAddAlmacen").load('@Url.Action("Add", "Almacen", new { area = "Inventario" })', function () {
                $('#AddModal').modal('show');
            });
        });
    });

    function btnEdit_onClick(almacenId)
    {
        $("#divContentEditAlmacen").load('@Url.Action("Edit", "Almacen", new { area = "Inventario" })?almacenId=' + almacenId, function () {
            $('#EditModal').modal('show');
        });
    }

    function btnDelete_onClick(almacenId) {
        $("#divContentDeleteAlmacen").load('@Url.Action("Delete", "Almacen", new { area = "Inventario" })?almacenId=' + almacenId, function () {
            $('#DeleteModal').modal('show');
        });
    }

</script>

<div class="row">
    <div class="col-md-12">
        <h1 style="margin:15px;">Administracion de Almacen</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btn-add" class="btn btn-success pull-right">Agregar Almacen</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @(
                        Html.Kendo().Grid<DS.Motel.Clients.Web.Areas.Inventario.Models.Almacen.NavegadorViewModel>().Name("GridAlmacen")
                        .Columns(column =>
                        {
                            column.Bound(c => c.Nombre).Title("Nombre").Width("30%");
                            column.Bound(c => c.Descripcion).Title("Descripción").Width("calc(70%-120px)");
                            column.Bound(c => c).Title("Acciones").Width("120px").Filterable(false).Sortable(false).ClientTemplate(
                                "<button class='btn btn-warning' title='Editar' onclick='btnEdit_onClick(\"#:AlmacenId#\");' style='margin-right:10px;'><span class='glyphicon glyphicon-pencil'></span></button>" +
                                "<button class='btn btn-danger' title='Eliminar' onclick='btnDelete_onClick(\"#:AlmacenId#\");'><span class='glyphicon glyphicon-remove' ></span></button>"
                                );

                        })
                        .Pageable(pageable => pageable.Enabled(true).ButtonCount(5))
                        .Filterable(filterable => filterable.Enabled(true))
                        .Sortable(sortable => sortable.Enabled(true))
                        .NoRecords(norecords => norecords.Template("No hay items para mostrar"))
                        .DataSource(datasourse => datasourse
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("LoadGrid", "Almacen"))
                            .ServerOperation(false))
                    )
                </div>
            </div>
        </div>
    </div>
</div>


@using (@Ajax.BeginForm("Add", "Almacen", new { area = "Inventario" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentAddAlmacen", OnSuccess = "Add_onSuccess", OnBegin = "Add_callOnBegin" }))
{
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentAddAlmacen" class="modal-content">
            </div>
        </div>
    </div>
}

@using (@Ajax.BeginForm("Edit", "Almacen", new { area = "Inventario" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentEditAlmacen", OnSuccess = "Edit_onSuccess", OnBegin = "Edit_callOnBegin" }))
{
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentEditAlmacen" class="modal-content">
            </div>
        </div>
    </div>
}

@using (@Ajax.BeginForm("Delete", "Almacen", new { area = "Inventario" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentDeleteAlmacen", OnSuccess = "Delete_onSuccess", OnBegin = "Delete_callOnBegin" }))
{
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentDeleteAlmacen" class="modal-content">
            </div>
        </div>
    </div>
}