@model DS.Motel.Clients.Web.Areas.Security.Models.UserType.NavigatorViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Navigator";
}

<script type="text/javascript">

    var userTypeIdSelected = "";

    $(document).ready(function () {
     
        if (userTypeIdSelected == "") {
            userTypeIdSelected = '@Model.UserTypeId';
        }
    });

    function btnAddEmployee_onClick() {
        $("#divToolBarUserType").css("visibility", "hidden");
        $("#divContentRight").load('@Url.Action("Add", "UserType", new { area = "Security" })?userTypeId=' + userTypeIdSelected);
    }

    function GridUserType_onChange(arg) {
        var currentSelectedItem = this.dataItem(this.select());
        var userTypeId = currentSelectedItem.UserTypeId;

        if (userTypeIdSelected != userTypeId) {
            userTypeIdSelected = userTypeId;
            $("#divToolBarUserType").css("visibility", "visible");
            $("#divContentRight").load('@Url.Action("Summary","UserType", new { area= "Security" })?userTypeId=' + userTypeIdSelected);
        }
    }

    function GridUserType_onDataBound(arg) {
        if ('@Model.UserTypes.Count()' > 0) {
            var rowModel = $("#GridUserType").data("kendoGrid").dataSource.get(userTypeIdSelected);
            if (rowModel != null) {
                var modelUID = rowModel.get("uid");
                var tableRow = $("[data-uid='" + modelUID + "']");
                $("#GridUserType").data("kendoGrid").select(tableRow);
            }
        }
        else {
            var colCount = $("#GridUserType").data("kendoGrid").columns.length;
            $("#GridUserType").find('.k-grid-content tbody').append('<tr class="kendo-data-row"><td colspan="' + colCount + '" style="padding-top:15px;">@Html.Label("lblNorecord", "No hay resultados", new { @class = "" })</td></tr>');
        }
    }

</script>

<div id="divNavegatorUserType">
    @using (@Ajax.BeginForm("Navigator", "UserType", new { area = "UserType" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divNavegatorVendor" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserTypeId)
        @Html.HiddenFor(m => m.GridNumberOfPage)

        <div class="box-header with-border">
            <div class="row">
                <div id="divToolBarUserType" class="col-sm-12">
                    <button type="button" class="btn btn-success" onclick="btnAddEmployee_onClick();">+ Tipo de Usuario</button>
                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    @(Html.Kendo().Grid(Model.UserTypes).Name("GridUserType")
                                .Columns(columns =>
                                {
                                    columns.Bound(c => c.UserTypeId).Hidden(true);
                                    columns.Bound(c => c.Name).HeaderHtmlAttributes(new { @class = "hidden" });
                                })
                                .Resizable(resizable => resizable.Columns(false))
                                .Scrollable(scrollable => scrollable.Enabled(true))
                                .Sortable(sortable => sortable.Enabled(true).SortMode(GridSortMode.MultipleColumn))
                                .Filterable(filtrable => filtrable.Enabled(true))
                                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                .Pageable(pageable => pageable.Enabled(true).ButtonCount(5))
                                .Events(events => events.Change("GridUserType_onChange").DataBound("GridUserType_onDataBound"))
                                .DataSource(datasource => datasource
                                    .Ajax()
                                    .Model(m => m.Id(c => c.UserTypeId))
                                    .PageSize(Model.GridPageSize)
                                    .ServerOperation(false)
                                ))
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var numberOfPageToPosition = '@Model.GridNumberOfPage';
        if (numberOfPageToPosition > 1 ) {
            $("#GridUserType").data("kendoGrid").dataSource.page(numberOfPageToPosition);
        }
    });

</script>