@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-add").click(function () {
            $("#divContentAddTarjetaDescuento").load('@Url.Action("Add", "TarjetaDescuento", new { area = "Items" })', function () {
                $('#AddModal').modal('show');
            });
        });
    });

    function btnEdit_onClick(tarjetaDescuentoId)
    {
        $("#divContentEditTarjetaDescuento").load('@Url.Action("Edit", "TarjetaDescuento", new { area = "Items" })?tarjetaDescuentoId=' + tarjetaDescuentoId, function () {
            $('#EditModal').modal('show');
        });
    }

    function btnDelete_onClick(tarjetaDescuentoId) {
        $("#divContentDeleteTarjetaDescuento").load('@Url.Action("Delete", "TarjetaDescuento", new { area = "Items" })?tarjetaDescuentoId=' + tarjetaDescuentoId, function () {
            $('#DeleteModal').modal('show');
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        <h1 style="margin:15px;">Administracion de Tarjetas</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btn-add" class="btn btn-success pull-right">Agregar Tarjeta</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @(
                                    Html.Kendo().Grid<DS.Motel.Clients.Web.Areas.Items.Models.TarjetaDescuento.NavegadorViewModel>().Name("GridTarjetaDescuento")
                                    .Columns(column =>
                                    {
                                        column.Bound(c => c.Codigo).Title("Codigo").Width("20%");
                                        column.Bound(c => c.Activado).Title("Activado").Width("calc(40%-120px)");
                                        column.Bound(c => c.Costo).Title("Costo").Width("15%");
                                        column.Bound(c => c.FechaCreacion).Title("Fecha Creacion").Width("15%");
                                        column.Bound(c => c.FechaUltimoUso).Title("Fecha Ultimo uso").Width("10%");
                                        column.Bound(c => c.Porcentaje).Title("% Descuento").Width("10%");
                                        column.Bound(c => c).Title("Acciones").Width("120px").Sortable(false).Filterable(false).ClientTemplate(
                                            "<button class='btn btn-warning' title='Editar' onclick='btnEdit_onClick(\"#:TarjetaDescuentoId#\");' style='margin-right:10px;'><span class='glyphicon glyphicon-pencil'></span></button>" +
                                            "<button class='btn btn-danger' title='Eliminar' onclick='btnDelete_onClick(\"#:TarjetaDescuentoId#\");' ><span class='glyphicon glyphicon-remove' ></span></button>"
                                            );
                                    })
                                    .Pageable(pageable => pageable.Enabled(true).ButtonCount(5))
                                    .Filterable(filterable => filterable.Enabled(true))
                                    .Sortable(sortable => sortable.Enabled(true))
                                    .NoRecords(norecords => norecords.Template("No hay Tarjetas para mostrar"))
                                    .DataSource(datasourse => datasourse
                                        .Ajax()
                                        .PageSize(10)
                                        .Read(read => read.Action("LoadGrid", "TarjetaDescuento"))
                                        .ServerOperation(false))
                    )
                </div>
            </div>
        </div>
    </div>
</div>


@using (@Ajax.BeginForm("Add", "TarjetaDescuento", new { area = "Items" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentAddTarjetaDescuento", OnSuccess = "Add_onSuccess", OnBegin = "Add_callOnBegin" }))
{
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentAddTarjetaDescuento" class="modal-content">
            </div>
        </div>
    </div>
}

@using (@Ajax.BeginForm("Edit", "TarjetaDescuento", new { area = "Items" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentEditTarjetaDescuento", OnSuccess = "Edit_onSuccess", OnBegin = "Edit_callOnBegin" }))
{
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentEditTarjetaDescuento" class="modal-content">
            </div>
        </div>
    </div>
}

@using (@Ajax.BeginForm("Delete", "TarjetaDescuento", new { area = "Items" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentDeleteTarjetaDescuento", OnSuccess = "Delete_onSuccess", OnBegin = "Delete_callOnBegin" }))
{
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentDeleteTarjetaDescuento" class="modal-content">
            </div>
        </div>
    </div>
}