@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    if (Convert.ToBoolean(ViewData["MasterLoad"]) == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-addIngreso").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("Add", "InventarioProducto", new { area = "Inventario" })?tipo=@DS.Motel.Data.Entities.InventarioTipo.Ingreso');
        });
        $("#btn-addEgreso").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("Add", "InventarioProducto", new { area = "Inventario" })?tipo=@DS.Motel.Data.Entities.InventarioTipo.Egreso');
        });
        $("#btn-addTransferencia").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("Add", "InventarioProducto", new { area = "Inventario" })?tipo=@DS.Motel.Data.Entities.InventarioTipo.Transferencia');
        });
    });

    function btnEdit_onClick(inventarioProductoId) {
        $("#divMasterOperationAreaContent").load('@Url.Action("Edit", "InventarioProducto", new { area = "Inventario" })?inventarioProductoId=' + inventarioProductoId);
    }

    function btnDelete_onClick(inventarioProductoId) {
        $("#divContentDeleteInventarioProducto").load('@Url.Action("Delete", "InventarioProducto", new { area = "Inventario" })?inventarioProductoId=' + inventarioProductoId, function () {
            $('#DeleteModal').modal('show');
        });
    }

</script>

<div class="row">
    <div class="col-md-12">
        <h1 style="margin:15px;">Inventario de Productos</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btn-addTransferencia" class="btn btn-success pull-right">Agregar Transferencia</button>
                    <button type="button" id="btn-addEgreso" class="btn btn-success pull-right" style="margin:0px 10px 0px 10px;">Agregar Egreso</button>
                    <button type="button" id="btn-addIngreso" class="btn btn-success pull-right">Agregar Ingreso</button>

                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @(
                            Html.Kendo().Grid<DS.Motel.Clients.Web.Areas.Inventario.Models.Inventario.NavegadorViewModel>().Name("GridInventarioProducto")
                            .Columns(column =>
                            {
                                column.Bound(c => c.Fecha).Title("Fecha").Width("20%").ClientTemplate("#= kendo.toString(Fecha, 'dd/MM/yyyy') #");
                                column.Bound(c => c.Numero).Title("Número").Width("20%");
                                column.Bound(c => c.Almacen).Title("Almacen").Width("calc(40% - 120px)");
                                column.Bound(c => c.Tipo).Title("Tipo").Width("20%");
                                column.Bound(c => c).Title("Acciones").Width("120px").Filterable(false).Sortable(false).ClientTemplate(
                                    //"<button class='btn btn-warning' title='Editar' onclick='btnEdit_onClick(\"#:MovimientoProductoId#\");' style='margin-right:10px;'><span class='glyphicon glyphicon-pencil'></span></button>" +
                                    "<button class='btn btn-danger' title='Eliminar' onclick='btnDelete_onClick(\"#:MovimientoProductoId#\");'><span class='glyphicon glyphicon-remove' ></span></button>"
                                    );

                            })
                            .Pageable(pageable => pageable.Enabled(true).ButtonCount(5))
                            .Filterable(filterable => filterable.Enabled(true))
                            .Sortable(sortable => sortable.Enabled(true))
                            .NoRecords(norecords => norecords.Template("No hay items para mostrar"))
                            .DataSource(datasourse => datasourse
                                .Ajax()
                                .PageSize(10)
                                .Read(read => read.Action("LoadGrid", "InventarioProducto"))
                                .ServerOperation(false))
                    )
                </div>
            </div>
        </div>
    </div>
</div>

@using (@Ajax.BeginForm("Delete", "InventarioProducto", new { area = "Inventario" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentDeleteInventarioProducto", OnSuccess = "Delete_onSuccess", OnBegin = "Delete_callOnBegin" }))
{
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentDeleteInventarioProducto" class="modal-content">
            </div>
        </div>
    </div>
}