@model DS.Motel.Clients.Web.Areas.AddressBook.Models.Parametros.EstadoViewModel

<script type="text/javascript">

    function Estado_callOnBegin() {
        $("#btnEstado").attr("disabled", "disabled")
    }

    function Estado_onSuccess() {
        switch ('@Model.Result')
        {
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Saved':
                {
                    $.notify("El parametro se Actualizo correctamente", { globalPosition: "top center", className: "success" });
                    $("#GridParametro").data("kendoGrid").dataSource.read();
                    $('#EstadoModal').modal('hide');
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Validation':
                {
                    $.notify("Error: Este parametro no se puede Actualizar", { globalPosition: "top center", className: "warn" });
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Error':
                {
                    $.notify("Lo sentimos, un error desconocido ha ocurrido en la aplicación.", { globalPosition: "top center", className: "error" });
                }
                break;
            default:
                break;
        }
    }

</script>


@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.ParametroId)
@Html.HiddenFor(m => m.Titulo)
<div class="modal-header">
    <h1 class="modal-title">@Model.Titulo</h1>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-12">
            <label>¿Está seguro que desea modificar?</label>
            @Html.ValidationMessageFor(m => m.ErrorMessage)
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="btnEstado" type="submit" class="btn btn-primary">Si</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
</div>
