@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    if (Convert.ToBoolean(ViewData["MasterLoad"]) == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-add").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("AddPersonal", "Personal", new { area = "AddressBook" })');
        });
    });

    function btnEdit_onClick(personalId)
    {
        $("#divMasterOperationAreaContent").load('@Url.Action("EditPersonal", "Personal", new { area = "AddressBook" })?personalId=' + personalId);
    }

    function btnDelete_onClick(personalId) {
        $("#divContentDeletePersonal").load('@Url.Action("DeletePersonal", "Personal", new { area = "AddressBook" })?personalId=' + personalId, function () {
            $('#DeleteModal').modal('show');
        });
    }

</script>

<div class="row">
    <div class="col-md-12">
        <h1 style="margin:15px;">Administracion de Personal</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btn-add" class="btn btn-success pull-right">Agregar Personal</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @(
                        Html.Kendo().Grid<DS.Motel.Clients.Web.Areas.AddressBook.Models.Personal.NavegadorViewModel>().Name("GridPersonal")
                        .Columns(column =>
                        {
                            column.Bound(c => c.Nombre).Title("Nombre").Width("15%");
                            column.Bound(c => c.Apellido).Title("Apellido").Width("15%");
                            column.Bound(c => c.CI).Title("C.I.").Width("10%");
                            column.Bound(c => c.Direccion).Title("Direccion").Width("calc(30%-120px)");
                            column.Bound(c => c.Login).Title("Loggin").Width("10%");
                            column.Bound(c => c.Estado).Title("Estado").Width("10%");
                            column.Bound(c => c.Cargo_Name).Title("Cargo").Width("10%");
                            column.Bound(c => c).Title("Acciones").Width("120px").Sortable(false).Filterable(false).ClientTemplate(
                                "<button class='btn btn-warning' title='Editar' onclick='btnEdit_onClick(\"#:PersonalId#\");' style='margin-right:10px;'><span class='glyphicon glyphicon-pencil'></span></button>" +
                                "<button class='btn btn-danger' title='Eliminar' onclick='btnDelete_onClick(\"#:PersonalId#\");' ><span class='glyphicon glyphicon-remove' ></span></button>"
                                );
                        })
                        .Pageable(pageable => pageable.Enabled(true).ButtonCount(5))
                        .Filterable(filterable => filterable.Enabled(true))
                        .Sortable(sortable => sortable.Enabled(true))
                        //.Scrollable(s => s.Enabled(true))
                        //.Scrollable(s => s.Endless(true).Enabled(true))
                        //.Reorderable(reorderable => reorderable.Columns(true))
                        //.Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .NoRecords(norecords => norecords.Template("No hay items para mostrar"))
                        .DataSource(datasourse => datasourse
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("LoadGrid", "Personal"))
                            .ServerOperation(false))
                    )
                </div>
            </div>
        </div>
    </div>
</div>


@using (@Ajax.BeginForm("DeletePersonal", "Personal", new { area = "AddressBook" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentDeletePersonal", OnSuccess = "Delete_onSuccess", OnBegin = "Delete_callOnBegin" }))
{
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentDeletePersonal" class="modal-content">
            </div>
        </div>
    </div>
}