@model List<DS.Motel.Clients.Web.Models.Home.IndexViewModel>
@{
    var cobrando = DS.Motel.Data.Entities.SuiteEstado.Cobrando;
    var habilitado = DS.Motel.Data.Entities.SuiteEstado.Habilitado;
    ViewBag.Title = "Index";
    if (Convert.ToBoolean(ViewData["MasterLoad"]) == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
}

<script type="text/javascript">
    function btn_onClick(estado, suiteId) {
        if (estado == '@DS.Motel.Data.Entities.SuiteEstado.Habilitado' || estado == '@DS.Motel.Data.Entities.SuiteEstado.Libre') {
            $("#divIngresar").load('@Url.Action("Ingresar", "Home", new { area = "" })?suiteId=' + suiteId, function () {
                $('#mIngresar').modal('show');
            });
        }
    }

    function SuiteDetalle_onClick(suiteId, estado) {
        if (estado == '@DS.Motel.Data.Entities.SuiteEstado.Ocupado') {
            window.location = '@Url.Action("SuiteDetalle", "Home", new { area = "" })?suiteId=' + suiteId;
        }
    }

    function btnAnular_onClick(suiteId) {
        $("#divContentAnular").load('@Url.Action("Anular", "Home", new { area = "" })?suiteId=' + suiteId, function () {
            $('#AnularModal').modal('show');
        });
    }

</script>
<section class="content">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="min-height:140px;">
                <div class="row">

                    <div class="col-md-8">
                        @{
                            var background = item.Estado == DS.Motel.Data.Entities.SuiteEstado.Mantenimiento ? "bg-yellow" : item.Estado == DS.Motel.Data.Entities.SuiteEstado.Deshabilitado ? "bg-red" : "bg-green";
                        }
                        <div class="small-box @background" style="margin-bottom:5px; cursor:pointer;" onclick="SuiteDetalle_onClick('@item.SuiteId', '@item.Estado');">
                            <div class="inner">
                                <h3>@item.Nombre</h3>
                                <p>@item.Estado.ToString()</p>
                            </div>
                        </div>
                        @if (item.Estado == DS.Motel.Data.Entities.SuiteEstado.Ocupado)
                        {
                            <label>Costo: @item.Costo_Total Bs.</label>
                        }
                    </div>

                    <div class="col-md-4">
                        @if (item.Estado == DS.Motel.Data.Entities.SuiteEstado.Ocupado)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    @if (item.TipoIngreso == DS.Motel.Data.Entities.TipoIngreso.Pie)
                                    {
                                        <label>Ingreso a Pie</label>
                                    }
                                    else if (item.TipoIngreso == DS.Motel.Data.Entities.TipoIngreso.Particular)
                                    {
                                        <label>Ingreso en Particular</label>
                                    }
                                    else if (item.TipoIngreso == DS.Motel.Data.Entities.TipoIngreso.Taxi)
                                    {
                                        <label>Ingreso en Taxi</label>
                                    }
                                </div>
                            </div>
                            <script>
                                var x = setInterval(function () {
                                    var now = new Date();
                                    var countDownDate = kendo.parseDate('@item.Ingreso');
                                    var distance = now - countDownDate;
                                    var totaInSeconds = (distance / (1000));
                                    var dateRest = new Date(0, 0, 0, 0, 0, totaInSeconds, 0);
                                    var partHour = dateRest.getHours().toString().length == 1 ? "0" + dateRest.getHours().toString() : dateRest.getHours().toString();
                                    var partMinutes = dateRest.getMinutes().toString().length == 1 ? "0" + dateRest.getMinutes().toString() : dateRest.getMinutes().toString();
                                    var partSeconds = dateRest.getSeconds().toString().length == 1 ? "0" + dateRest.getSeconds().toString() : dateRest.getSeconds().toString();
                                    $("#" + '@item.SuiteId').text(partHour + ":" + partMinutes + ":" + partSeconds);
                                    //clearInterval(x);
                                    //para anular
                                    var timeForAnular = new Date(countDownDate);
                                    var timeToAdd = timeForAnular.getMinutes() + parseInt('@item.Tiempo_Anular');
                                    timeForAnular.setMinutes(timeToAdd);
                                    if (now > timeForAnular) {
                                        $('#btnAnular_@item.SuiteId').hide();
                                    }
                                    else {
                                        $('#btnAnular_@item.SuiteId').show();
                                    }
                                    //--------------------------------------
                                }, 1000);
                            </script>
                            <div class="row"><div class="col-md-12"><button class="btn btn-primary" onclick="btn_onClick('@item.Estado', '@item.SuiteId')">Cobrar</button></div></div>
                            <div class="row"><div class="col-md-12"><b id="@item.SuiteId"></b></div></div>
                            <div class="row"><div class="col-md-12"><button id='btnAnular_@item.SuiteId' class="btn btn-primary" onclick="btnAnular_onClick('@item.SuiteId')" style="display:none;">Anular</button></div></div>
                        }
                        else if (item.Estado != DS.Motel.Data.Entities.SuiteEstado.Mantenimiento && item.Estado != DS.Motel.Data.Entities.SuiteEstado.Deshabilitado)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" onclick="btn_onClick('@item.Estado', '@item.SuiteId')">Ingresar</button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    </div>

</section>

@using (@Ajax.BeginForm("Ingresar", "Home", new { area = "" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divIngresar", OnSuccess = "Ingresar_onSuccess", OnBegin = "Ingresar_callOnBegin" }))
{
    <div class="modal fade" id="mIngresar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divIngresar" class="modal-content">
            </div>
        </div>
    </div>
}


@using (@Ajax.BeginForm("Anular", "Home", new { area = "" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentAnular", OnSuccess = "Anular_onSuccess", OnBegin = "Anular_callOnBegin" }))
{
    <div class="modal fade" id="AnularModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentAnular" class="modal-content">
            </div>
        </div>
    </div>
}