@model DS.Motel.Clients.Web.Models.Home.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}

<div id="divLogin">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="login_container">
            <h1 class='text-white'>Happy Hour</h1>
            <div class="form-login">
                <h4 class="mt-2 mb-4">Ingresar</h4>

                <div class="row">
                    <div class="form-group col-md-12 text-left">
                        @Html.TextBoxFor(m => m.Username, new { maxlength = "50", @class = "form-control", tabindex = "1", placeholder = "Usuario" })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 text-left">
                        @Html.PasswordFor(m => m.Password, new { maxlength = "50", @class = "form-control", tabindex = "2", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 text-left">
                        @Html.TextBoxFor(m => m.Saldo, new { maxlength = "50", @class = "form-control", tabindex = "3", placeholder = "Monto Inicial" })
                        @Html.ValidationMessageFor(m => m.Saldo)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="wrapper">
                            <span class="group-btn">
                                <button type="submit" class="btn btn-primary btn-md mt-3" tabindex="4">login <i class="fa fa-sign-in"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="login_footer">
        © 2018 DrecoSoft. All rights reserved | Design by <a href="#">DrecoSoft</a>
    </div>
</div>