@model DS.Motel.Clients.Web.Areas.AddressBook.Models.Parametros.EditViewModel


<script type="text/javascript">

    $(document).ready(function () {
        $("#btnCancel").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("index", "Parametros", new { area = "AddressBook" })?masterload=false');
            $(document).scrollTop(0);
        });

        $(".custom-decimal").each(function () {
            $(this).ForceDecimalCulture();
        });

        $(".custom-decimal").on("focus", function () {
            var valText = $(this).val();
            var valTextParse = kendo.parseFloat(valText);
            if (valTextParse == 0)
                $(this).val("");
            else
                $(this).val(valText);
        });
        $(".custom-decimal").on("blur", function () {
            var valText = $(this).val();
            var valTextParse = kendo.parseFloat(valText);
            if (valTextParse != "" && valTextParse != null)
                $(this).val(valText);
            else
                $(this).val(0);
        });
    });

    function Edit_callOnBegin() {
        $("#btnEdit").attr("disabled", "disabled")
        $("#btnEdit").text("Guardando...");
    }

    function Edit_onSuccess() {
        switch ('@Model.Result')
        {
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Saved':
                {
                    $.notify("El Parametro se guardó con exito", { globalPosition: "top center", className: "success" });
                    $("#divMasterOperationAreaContent").load('@Url.Action("index", "Parametros", new { area = "AddressBook" })?masterload=false');
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Validation':
                {
                    $.notify("Error: Información no válida", { globalPosition: "top center", className: "warn" });
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Error':
                {
                    $.notify("Lo sentimos, un error desconocido ha ocurrido en la aplicación.", { globalPosition: "top center", className: "error" });
                }
                break;
            default:
                break;
        }
        $(document).scrollTop(0);
    }

</script>

<div id="divEditParametros">
    @using (@Ajax.BeginForm("EditParametros", "Parametros", new { area = "AddressBook" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEditParametros", OnBegin = "Edit_callOnBegin", OnSuccess = "Edit_onSuccess" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.ParametroId)
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin:15px;">Editar Parametros</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Nombre:</label>
                            @Html.TextBoxFor(m => m.Nombre, new { maxlength = "50", @class = "form-control", tabindex = "1" })
                            @Html.ValidationMessageFor(m => m.Nombre)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <center><h1>Datos de Costo</h1></center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Costo 1ra Hora:</label>
                            @Html.TextBoxFor(m => m.Costo_Habitacion, new { maxlength = "20", @class = "form-control custom-decimal", tabindex = "2" })
                            @Html.ValidationMessageFor(m => m.Costo_Habitacion)
                        </div>

                        <div class="form-group col-md-6">
                            <label>Costo Adicional 1:</label>
                            @Html.TextBoxFor(m => m.Costo_Adicional1, new { maxlength = "20", @class = "form-control custom-decimal", tabindex = "3" })
                            @Html.ValidationMessageFor(m => m.Costo_Adicional1)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Costo Television:</label>
                            @Html.TextBoxFor(m => m.Costo_Tv, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "4" })
                            @Html.ValidationMessageFor(m => m.Costo_Tv)
                        </div>
                        <div class="form-group col-md-6">
                            <label>Costo Adicional 2:</label>
                            @Html.TextBoxFor(m => m.Costo_Adicional2, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "5" })
                            @Html.ValidationMessageFor(m => m.Costo_Adicional2)

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Iniciar Boletas en:</label>
                            @Html.TextBoxFor(m => m.Numero_Inicio_Boleta, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "6" })
                            @Html.ValidationMessageFor(m => m.Numero_Inicio_Boleta)
                        </div>

                        <div class="form-group col-md-6">
                            <label>Fin Boletas en:</label>
                            @Html.TextBoxFor(m => m.Numero_Fin_Boleta, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "7" })
                            @Html.ValidationMessageFor(m => m.Numero_Fin_Boleta)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <h1>Datos de Tiempos</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Tiempo 1hr</label>
                            @Html.TextBoxFor(m => m.Tiempo_Hora, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "8" })
                            @Html.ValidationMessageFor(m => m.Tiempo_Hora)
                        </div>

                        <div class="form-group col-md-6">
                            <label>Tiempo Incremento</label>
                            @Html.TextBoxFor(m => m.Tiempo_Incremento, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "9" })
                            @Html.ValidationMessageFor(m => m.Tiempo_Incremento)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Tolerancia</label>

                            @Html.TextBoxFor(m => m.Tolerancia, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "10" })
                            @Html.ValidationMessageFor(m => m.Tolerancia)
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tipo Anular</label>
                            @Html.TextBoxFor(m => m.Tiempo_Anular, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "11" })
                            @Html.ValidationMessageFor(m => m.Tiempo_Anular)

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Tiempo Salir</label>

                            @Html.TextBoxFor(m => m.Tiempo_Salir, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "12" })
                            @Html.ValidationMessageFor(m => m.Tiempo_Salir)

                        </div>
                        <div class="form-group col-md-6">
                            <label>Tiempo Limpiar</label>
                            @Html.TextBoxFor(m => m.Tiempo_Limpieza, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "13" })
                            @Html.ValidationMessageFor(m => m.Tiempo_Limpieza)
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Tiempo Revisar</label>

                            @Html.TextBoxFor(m => m.Tiempo_Revision, new { maxlength = "50", @class = "form-control custom-decimal", tabindex = "14" })
                            @Html.ValidationMessageFor(m => m.Tiempo_Revision)

                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <button id="btnCancel" type="button" class="btn btn-secondary pull-right">Cancelar</button>
                    <button id="btnEdit" type="submit" class="btn btn-success pull-right" style="margin-right:15px;">Guardar</button>
                </div>
            </div>
        </div>
    }
</div>
