@model DS.Motel.Clients.Web.Areas.AddressBook.Models.Suites.EditViewModel


<script type="text/javascript">

    function Edit_callOnBegin() {
        $("#btnAdd").attr("disabled", "disabled")
        $("#btnAdd").text("Guardando...");
    }

    function Edit_onSuccess() {
        switch ('@Model.Result')
        {
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Saved':
                {
                    $.notify("La Suite se guardó con exito", { globalPosition: "top center", className: "success" });
                    $("#GridSuites").data("kendoGrid").dataSource.read();
                    $('#EditModal').modal('hide');
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Validation':
                {
                    $.notify("Error: Información no válida", { globalPosition: "top center", className: "warn" });
                }
                break;
            case '@DS.Motel.Clients.Web.Models.EnumActionResult.Error':
                {
                    $.notify("Lo sentimos, un error desconocido ha ocurrido en la aplicación.", { globalPosition: "top center", className: "error" });
                }
                break;
            default:
                break;
        }
    }

</script>


@Html.AntiForgeryToken()
@Html.HiddenFor(m=> m.SuiteId)
<div class="modal-header">
    <h1 class="modal-title">Editar Suite</h1>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Nombre</label>
            @Html.TextBoxFor(m => m.Nombre, new { maxlength = "50", @class = "form-control", tabindex = "1" })
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label>Estado</label>
            @Html.DropDownListFor(m => m.EstadoId, new SelectList(@Model.ListaEstado, "Id", "Nombre"), new { @class = "form-control", tabindex = "2" })
            @Html.ValidationMessageFor(m => m.EstadoId)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label>Parametro</label>
            @Html.DropDownListFor(m => m.ParametroId, new SelectList(@Model.ListaParametros, "Id", "Nombre"), new { @class = "form-control", tabindex = "2" })
            @Html.ValidationMessageFor(m => m.ParametroId)
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="btnAdd" type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
</div>
