@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    if (Convert.ToBoolean(ViewData["MasterLoad"]) == true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-add").click(function () {
            $("#divMasterOperationAreaContent").load('@Url.Action("Add", "Producto", new { area = "Items" })');
        });
    });

    function btnEdit_onClick(productoId) {
        $("#divMasterOperationAreaContent").load('@Url.Action("Edit", "Producto", new { area = "Items" })?productoId=' + productoId);
    }

    function btnDelete_onClick(productoId) {
        $("#divContentDeleteProducto").load('@Url.Action("Delete", "Producto", new { area = "Items" })?productoId=' + productoId, function () {
            $('#DeleteModal').modal('show');
        });
    }

</script>

<div class="row">
    <div class="col-md-12">
        <h1 style="margin:15px;">Administracion de Productos</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btn-add" class="btn btn-success pull-right">Agregar Producto</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @(
                        Html.Kendo().Grid<DS.Motel.Clients.Web.Areas.Items.Models.Producto.NavegadorViewModel>().Name("GridProducto")
                        .Columns(column =>
                        {
                            column.Bound(c => c.Nombre).Title("Nombre").Width("30%");
                            column.Bound(c => c.Descripcion).Title("Descripción").Width("calc(50%-120px)");
                            column.Bound(c => c.Categoria).Title("Categoria").Width("20%");
                            column.Bound(c => c).Title("Acciones").Width("120px").Sortable(false).Filterable(false).ClientTemplate(
                                "<button class='btn btn-warning' title='Editar' onclick='btnEdit_onClick(\"#:ProductoId#\");' style='margin-right:10px;'><span class='glyphicon glyphicon-pencil'></span></button>" +
                                "<button class='btn btn-danger' title='Eliminar' onclick='btnDelete_onClick(\"#:ProductoId#\");' ><span class='glyphicon glyphicon-remove' ></span></button>"
                                );
                        })
                        .Pageable(pageable => pageable.Enabled(true).ButtonCount(5))
                        .Filterable(filterable => filterable.Enabled(true))
                        .Sortable(sortable => sortable.Enabled(true))
                        .NoRecords(norecords => norecords.Template("No hay items para mostrar"))
                        .DataSource(datasourse => datasourse
                            .Ajax()
                            .PageSize(10)
                            .Read(read => read.Action("LoadGrid", "Producto"))
                            .ServerOperation(false))
                    )
                </div>
            </div>
        </div>
    </div>
</div>


@using (@Ajax.BeginForm("Delete", "Producto", new { area = "Items" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divContentDeleteProducto", OnSuccess = "Delete_onSuccess", OnBegin = "Delete_callOnBegin" }))
{
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="divContentDeleteProducto" class="modal-content">
            </div>
        </div>
    </div>
}